body {
    background-color: rgb(244, 238, 229);
    /* background-image: url('foto\ curriculum.jpg'); 
   background-size: contain;
   background-repeat: no-repeat;
   background-size: contain;*/

    color: #241c11;
    text-align: left;
    /*aliniar coses*/

    font-size: 1m;
    font-family: "Montserrat", sans-serif;

    margin-left: 30px;

}
div{
    display: inline-block;
}

#foto {
    display: inline-block;
margin-left: 160%;


}

#DADES_PERSONALS {
    width: 35%;
    display: inline-block;
    background-color: rgb(231, 207, 188);
    text-align: left;
    margin-left: 3%;
}


#DADES_ACADÈMIQUES{
    background-color: rgb(231, 207, 188);
    width: 35%;
    margin-left: 3%;
}



#EXPERIÈNCIALABORAL{
    background-color: rgb(231, 207, 188);
    width: 35%;
    margin-left: 3%;

}

#ALTRESDADES{
    background-color: rgb(219, 195, 175);
    width: 35%;
    margin-left: 3%;

}

button {
    background-color: rgb(78, 63, 48);
    color: rgb(255, 254, 254);

}

h2 {
    background-color: rgb(128, 99, 75);
    font-family: "Tenor Sans", sans-serif;
    width: 30%;
    text-align: center;
}


nav {
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: right;
}

