body{
    background-color: rgb(244, 238, 229);
   /* background-image: url('foto\ curriculum.jpg'); 
   background-size: contain;
   background-repeat: no-repeat;
   background-size: contain;*/

   color: rgb(36, 28, 17);
   text-align: left;    /*aliniar coses*/

   font-size: 1m;
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


  


}


h2 {
background-color: rgb(128, 99, 75);
font-family: 

POSAR FONT

}


#DADES_PERSONALS{
    background-color: rgb(227, 235, 115);
}

.ACADÈMIQUES_EXPERIÈNCIA {
    background-color: rgb(140, 242, 239);

}
